.topbar {
    font-size: 120%;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Montserrat', sans-serif;
}

.navbar-logo {
    padding-top: 10px;
    background-color: white;
    width: 12.5%;
    text-align: center;
}

.navbar-message {
    background-color: white;
    padding-top: 27px;
    width: 62.5%;
}

.navbar-options {
    display: flex;
    align-self: center;
    text-align: right;
    padding-left: 5%;
    padding-top: 1%;
    width: 25%;
    background-color: white;
}

.navbar-button {
    align-items: center;
    border: 2px solid black;
}


.sidebar {
    float: left;
    width: 12.5%;
    height: 100%;
    background-color: #ffff;
    align-self: flex-start;
    display: inline-flex;
}

.sidebar-options {
    text-align: left;
    padding-left: 10%;
    padding-top: 12.5%;
    height: 80px;
    width: 100%;
}

.sidebar-options:hover {
    background-color: #F2D4CC;
}

.sidebar-options:active {
    background-color: #F08080;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.content {
    background: #8DD7BF;
    position: fixed;
    display: inline-block;
    text-align: center;
    padding-top: 100px;
    width: 87.5%;
    height: 100%;
}
